<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.malmstein.hnews">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

  <application
    android:allowBackup="true"
    android:name="com.malmstein.hnews.HNewsApplication"
    android:icon="@drawable/ic_launcher"
    android:label="@string/title_app"
    android:theme="@style/HNews">
    <activity
      android:name=".stories.TopStoriesActivity"
      android:label="@string/title_app">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name="com.malmstein.hnews.stories.ArticleActivity"
      android:parentActivityName="com.malmstein.hnews.stories.TopStoriesActivity"
      android:configChanges="keyboardHidden|orientation|screenSize">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.malmstein.hnews.stories.TopStoriesActivity" />
    </activity>

    <activity
      android:name="com.malmstein.hnews.comments.CommentsActivity"
      android:label="@string/title_comments"
      android:parentActivityName="com.malmstein.hnews.stories.TopStoriesActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.malmstein.hnews.stories.TopStoriesActivity" />
    </activity>

    <activity
      android:name="com.malmstein.hnews.settings.SettingsActivity"
      android:label="@string/title_settings"
      android:parentActivityName="com.malmstein.hnews.stories.TopStoriesActivity">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.malmstein.hnews.stories.TopStoriesActivity" />
    </activity>

    <provider
      android:authorities="com.malmstein.hnews"
      android:name="com.malmstein.hnews.data.HNewsProvider"
      android:exported="true"
      android:syncable="true" />

    <service
      android:name="com.malmstein.hnews.sync.HNewsSyncService"
      android:exported="true">
      <intent-filter>
        <action android:name="android.content.SyncAdapter" />
      </intent-filter>
      <meta-data
        android:name="android.content.SyncAdapter"
        android:resource="@xml/syncadapter" />
    </service>

    <service android:name="com.malmstein.hnews.sync.HNewsAuthenticatorService">
      <intent-filter>
        <action android:name="android.accounts.AccountAuthenticator" />
      </intent-filter>
      <meta-data
        android:name="android.accounts.AccountAuthenticator"
        android:resource="@xml/authenticator" />
    </service>

  </application>

</manifest>
