<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.malmstein.yahnac">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

  <application
    android:name="com.malmstein.yahnac.HNewsApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/title_launcher"
    android:theme="@style/Theme.HNews">
    <activity
      android:name="com.malmstein.yahnac.stories.NewsActivity"
      android:label="@string/title_launcher"
      android:launchMode="singleTop"
      android:theme="@style/Theme.HNews.News">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".bookmarks.BookmarksActivity"
      android:label="@string/title_bookmarks"
      android:theme="@style/Theme.HNews.News" />

    <activity
      android:name=".story.StoryActivity"
      android:configChanges="keyboardHidden|orientation|screenSize"
      android:theme="@style/Theme.HNews.Article" />

    <activity android:name="com.malmstein.yahnac.comments.CommentsActivity" />

    <activity
      android:name="com.malmstein.yahnac.login.LoginActivity"
      android:windowSoftInputMode="adjustPan|stateHidden" />

    <activity
      android:name="com.malmstein.yahnac.settings.SettingsActivity"
      android:label="@string/title_about"
      android:theme="@style/Theme.HNews.Settings" />

    <activity
      android:name="com.malmstein.yahnac.settings.SoftwareLicensesActivity"
      android:label="@string/activity_software_licenses_label" />

    <provider
      android:name="com.malmstein.yahnac.data.HNewsProvider"
      android:authorities="com.malmstein.yahnac"
      android:exported="true"
      android:syncable="true" />

    <meta-data
      android:name="com.crashlytics.ApiKey"
      android:value="a4b08494f63a11e820d5674cf1efb6e70ccf6686" />

    <meta-data
      android:name="com.google.android.gms.version"
      android:value="@integer/google_play_services_version" />

  </application>

</manifest>
